<h4 class="grid_1 alpha"><%= t "activerecord.attributes.debt.date" %></h4>
<h4 class="grid_1"><%= t "activerecord.attributes.debt.state" %></h4>
<h4 class="grid_6 omega"><%= t "activerecord.models.debt" %></h4>
<%= render 'shared/spacer' %>
