<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%# subnavigation %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<div class="grid_12">
  <header>
    <h1><%= t "views.debts.new.header"  %></h1>
  </header>
  <section>
    <%= render 'form', :debt => @debt %>
  </section>
</div>
<%= render 'shared/clear' %>
