%header#header
  .logo
    %h1
      %a{ :href => '/', :title => 'Home' } Debt<span class="light">Pursuit</span>

  %nav.links
    %ul
      %li
        = link_to 'Home', '/'
      %li
        = link_to 'FAQ', '/'
      %li
        = link_to 'Github', 'https://github.com/jhbabon/debtpursuitapp', :title => 'Fork Me on Github'
