%header#header
  %h1 DebtPursuit v2

%section.content1
  %p.column
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón
  %p.column
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón
  %p.column
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón

%section.content2
  %p.column
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón
  %p.column2
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón

%section.content3
  %p.column
    Make the money flow
    %br
    %a{ :href => '#' } Un enlace, copón
