%section#expense
  %p.name
    %input{ :name                => 'owner',
            :type                => 'text',
            :value               => 'Name',
            :'data-expense-attribute' => true, }
  %p.money
    %input{ :name                 => 'amount',
            :type                 => 'text',
            :value                => 'Money',
            :'data-expense-attribute' => true, }

  %p.add_button
    %a{ :href               => '#',
        :'data-expense-add' => true,
        :'data-target-id'     => 'people'  } Add

%form{ :action => '/magic', :method => 'post' }
  %section#people
  %input{:type => 'submit', :value => 'GO!'}

%section#show
  - if defined?( data ) && !data.nil?
    - data.each do |debt|
      %p= "#{debt[:debtor]} owes #{debt[:quantity].to_s( 'F' )} to #{debt[:lender]}"
