@font-face {
  font-family: Chunkfive;
  src: url('../fonts/Chunkfive.otf');
}
@font-face {
  font-family: Yanone-Regular;
  src: url('../fonts/YanoneKaffeesatz-Regular.otf');
}
@font-face {
  font-family: Yanone-Light;
  src: url('../fonts/YanoneKaffeesatz-Light.otf');
}
article,
aside,
footer,
header,
hgroup,
nav,
section { display: block; }
body {
  background-color: #323232;
  color: #2B2B2B;
  font: 13px/1.5 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  line-height: 24px;
}
small { font-size: 0.65em; }
a {
  text-decoration: none;
  color: #60A5FF;
  border-bottom: 1px solid #60A5FF;
}
a:hover {
  color: #FFF;
  border-color: #FFF;
  background-color: #60A5FF;
}
h1,
h2,
h3,
p,
ul,
ol,
blockquote {
  margin-bottom: 20px;
}
li { margin-bottom: 6px; }
h1,
h2,
h3,
h4 { font-family: Yanone-Regular, 'Helvetica Neue', Helvetica, Arial, sans; }
h1 {
  font-size: 34px;
  line-height: 36px;
}
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 20px; }
.alert,
.notice {
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.alert {
  border: 1px solid #921308;
  background-color: #FDDCDC;
  color: #921308;
}
.notice {
  border: 1px solid #BDE282;
  background-color: #D0EF9F;
  color: #5A5A5A;
}
.logo {
  font-family: Chunkfive;
  color: #FFF;
}
 .logo h1 {
   font-family: Chunkfive;
   color: #FFF;
}
  .logo h1 .light { color: #39C; }
.login { margin: 150px 0 50px 0; }
 .login .logo { text-align: center; }
 .login .content {
   background-color: #E6E6E6;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   padding: 10px;
}
.form .fieldset {
  position: relative;
  margin-bottom: 8px;
}
.form .label { font-size: 16px; }
.form .label.overlay,
.form .radio_buttons .label,
.form .input { font-size: 14px; }
.form .radio_buttons .label { margin-right: 15px; }
.form .label.overlay {
  position: absolute;
  z-index: 1;
  padding-top: 5px;
  padding-left: 12px;
  color: #919191;
}
.form .label.overlay.focus { color: #D5D5D5; }
.form .input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form .input.overlay {
  background-color: transparent;
  width: 95%;
  max-width: 310px !important;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #6F6F6F;
  position: relative;
  z-index: 10;
}
.form .input.error { border: 1px solid #921308; }
.form .input:focus { border: 1px solid #39C; }
.form textarea.input.overlay { height: 100px; }
.form .radio_buttons {
  display: inline-block;
  width: auto;
}
.form .tooltip {
  color: #927E0E;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  min-width: 150px !important;
  padding: 2px 8px;
  position: absolute;
  z-index: 99;
  display: none;
  border: 2px solid #E1CB4E;
  background-color: #FFE65A;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-weight: 500;
}
 .form .tooltip hr { border-color: #E1CB4E; }
.form .tooltip.error {
  border: 2px solid #921308;
  background-color: #FDDCDC;
  color: #921308;
}
 .form .tooltip.error hr { border-color: #921308; }
.search_form input[type="search"] {
  width: 70%;
  margin: 5px 10px 0 0;
  font-size: large;
}
.button_to { display: inline-block; }
a.button,
a.button:hover { border: none; }
.button_to input[type="submit"],
.button_to input[type="submit"]:visited,
.button,
.button:visited {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #222 url('../images/alert-overlay.png') repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin: 0;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
.button_to input[type="submit"],
.button_to input[type="submit"]:visited,
.button.small,
.button.small:hover { font-size: 11px; }
.button:hover {
  background-color: #111;
  color: #fff;
}
.button:active { top: 1px; }
.large.button,
.large.button:visited {
  font-size: 14px;
  padding: 8px 14px 9px;
}
.button_to input[type="submit"],
.button_to input[type="submit"]:visited,
.main.button,
.main.button:visited { background-color: #2DAEBF; }
.button_to input[type="submit"]:hover,
.main.button:hover { background-color: #007D9A; }
.user_info {
  text-align: right;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 40px;
}
.nav ul li {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid;
}
.nav ul li:last-child { border-right: none; }
a.delete:hover,
a.logout:hover {
  color: #FFF;
  background-color: #CC0000;
}
.main_nav .tab {
  display: inline-block;
  float: left;
  margin: 5px 20px 10px 0;
  font-size: 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Yanone-Light, 'Helvetica Neue', Helvetica, Arial, sans;
}
 .main_nav .tab a {
   background-color: transparent;
   color: #919191;
   border: none;
   padding-bottom: 7px;
}
 .main_nav .tab a.selected,
 .main_nav .tab a:hover {
   color: #FFF;
   border-bottom: 2px solid #FFF;
   padding-bottom: 5px;
}
dl.sub_nav {
  height: 35px;
  padding-top: 6px;
  margin: 0 0 18px;
  width: auto;
}
 dl.sub_nav dt,
 dl.sub_nav dd {
   display: inline;
   float: left;
}
 dl.sub_nav dt {
   color: #888;
   font-weight: normal;
}
 dl.sub_nav dd a {
   margin-left: 6px;
   padding: 5px 12px;
   text-decoration: none;
   border: none;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
}
.layout {
  padding: 20px 0 30px 0;
  background-color: #E6E6E6;
}
 .layout h1 { text-shadow: 0 1px 1px #F7F7F7; }
.footer {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: .85em;
  padding-top: .9em;
  padding-bottom: .9em;
  color: #777;
}
 .footer a {
   color: #777;
   border-bottom: 1px solid #777;
}
 .footer a:hover {
   background: transparent;
   color: #CCC;
   border-bottom: 1px solid #CCC;
}
 .footer .version_info {
   color: #CCC;
   text-align: right;
   width: auto;
}
hr.recess {
  margin: 17px 0 18px;
  height: 0;
  clear: both;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #F7F7F7;
  width: auto;
}
.total_debt {
  font-size: 1.2em;
  font-weight: bold;
}
.debt, .state.unpaid { color: #921308; }
.loan, .state.paid { color: #728207; }
.budget,
.debt_info { min-height: 30px !important; }
 .debt_info .date {
   text-align: center;
   background-color: #D5D5D5;
   padding: 2px;
   font-size: .85em;
 }
 .debt_info .text.paid { color: #4D4D4D; }
 .debt_data .amount.paid,
 .debt_info .text.paid { text-decoration: line-through; }
.debt_data { text-align: center; }
 .debt_data .amount {
   font-size: 1.6em;
   background-color: #D5D5D5;
   padding: 8px 0;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: auto;
   margin-bottom: 10px;
 }
 .debt_data .state {
   font-size: 1.1em;
   margin-right: 5px;
 }
.text_right { text-align: right; }
.pagination {
  text-align: center;
  margin-top: 20px;
}
 .pagination span.disabled {
   display: inline-block;
   margin: 3px;
}
 .pagination span.disabled { color: #888; }
 .pagination span.current,
 .pagination span a { padding: 3px; }
  .pagination span a { border: none; }
.sidebar {
  padding: 5px 10px;;
  background-color: #D5D5D5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
 .sidebar a.counter {
   color: #2B2B2B;
   text-decoration: none;
   border: none;
   display: block;
   padding: 5px;
   border-bottom: 1px solid #BCBCBC;
 }
 .sidebar a.counter:hover {
   background-color: #BCBCBC;
 }
  .sidebar a.counter .count {
    width: 30px;
    padding: 0 5px;
    margin-right: 5px;
    display: inline-block;
    background-color: #4B4B4B;
    color: #FFF;
    text-align: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

