@font-face {
  font-family: Chunkfive;
  src: url('../fonts/Chunkfive.otf');
}
article,
aside,
footer,
header,
hgroup,
nav,
section { display: block }
body {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  line-height: 1.7em;
  background-color: #333;
  color: #2B2B2B;
}
h1 {
  font-size: 2.25em;
  line-height: 1.333em;
  margin: .85em 0 0em;
  font-weight: bold;
}
h2 { font-size: 1.4em }
h3 { font-size: 1.125em }
h4 {
  font-weight: bold;
  font-size: 1em;
}
p {
  margin-bottom: 0;
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
}
a { color: #60A5FF }
a:hover {
  color: #FFF;
  background-color: #60A5FF;
}
.container {
  width: 840px;
  margin: 0 auto;
  overflow: hidden;
}
.login {
  width: 400px;
}
.box {
  border: 1px solid #CCC;
  background-color: #E5E5E5;
}
.nav.hor ul li {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid;
}
.nav.hor ul li:last-child { border-right: none }
.user_info {
  font-size: 0.9em;
  text-align: right;
  margin-bottom: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #FFF;
}
a.logout:hover {
  color: #FFF;
  background-color: #CC0000;
}
.logo {
  float: left;
  padding: 20px 0 15px 0;
  font-family: Chunkfive;
  color: #FFF;
}
 .logo h1 {
   margin: 0;
   padding: 0;
 }
 .logo .light { color: #39C }
.nav.buttons {
  float: left;
  font-size: 1.1em;
  padding: 1.7em 0 0 2em;
}
 .nav.buttons .button {
   float: left;
 }
.button {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 1.1em;
}
 .button.first a {
   -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 .button.last a {
   -webkit-border-top-right-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
   -moz-border-radius-topright: 5px;
   -moz-border-radius-bottomright: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }
 .button a {
   margin: 0;
   padding: 8px 10px;
   color: #CCC;
   text-decoration: none;
   background-color: #4D4D4D;
 }
 .button a:hover,
 .button a.selected {
   color: #FFF;
   background-color: #6E6E6E;
 }
.layout {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 1em 0;
  background-color: #FFF;
  overflow: hidden;
}
.content {
  margin: 20px;
  width: 560px;
  float: left;
}
.part { margin-bottom: 60px; }
 .part .head {
   margin-bottom: 20px;
   border-bottom: 2px solid #39C;
 }
.text_right { text-align: right; }
.field_with_errors {
  display: inline;
  margin: 0;
  padding: 0;
}
.form { margin: 20px 10px }
 .form .errors,
 .form .instructions,
 .form .form_head { padding: 10px 0 12px 85px; }
 .form .form_head {
   border-bottom: 1px solid #CCC;
 }
 .form .errors,
 .form .instructions {
   border-style: solid;
   border-width: 3px;
 }
 .form .errors {
   border-color: #921308;
   background-color: #FDDCDC;
   color: #921308;
 }
 .form .instructions {
   border-color: 3px solid #E1CB4E;
   background-color: #FAFF6C;
   color: #927E0E;
   font-weight: bold;
 }
  .form .instructions a { color: #64560A; }
  .form .instructions a:hover {
    color: #FAFF6C;
    background-color: #64560A;
  }
.fieldset.last { border-top: 1px solid #CCC }
.fieldset .label {
  width: 130px;
  margin-right: 10px;
  padding: 10px 0 12px 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  color: #525250;
}
.fieldset .input {
  padding: 9px 0 13px 0;
  float: left;
}
 .fieldset .input input.text {
   text-align: right;
   width: 70px;
 }
 .fieldset .input textarea {
   width: 250px;
   height: 80px;
 }
.form .required { color: #CC0000 }
.debt.short,
.contact {
  overflow: hidden;
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #39C;
  position: relative;
}
 .contact .data,
 .contact .info,
 .contact .controls {
   padding: 6px;
 }
 .contact .data {
   width: 208px;
   overflow: hidden;
   z-index: 1;
   position: relative;
 }
 .contact .data:hover {
   width: auto;
   padding: 5px;
   border: 1px solid #CCC;
   background-color: #E5E5E5;
   z-index: 3;
 }
 .contact .info {
   width: 238px;
   position: absolute;
   left: 225px;
   z-index: 2;
 }
 .contact .controls {
   text-align: right;
   width: auto;
   position: absolute;
   left: 490px;
   z-index: 4;
 }
 .debt.short .field,
 .contact .field {
   margin-left: 5px;
   float: left;
 }
 .debt.short .date {
   margin: 0;
   width: 75px;
   text-align: center;
 }
 .debt.short .type a {
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 25px;
   height: 16px;
   text-indent: -9999px;
   background-repeat: no-repeat;
   background-position: center 2px;
 }
 .debt.short .type a:hover {
   color: #000;
   background-color: #FFF;
 }
/* TODO: write icons license: http://brsev.com/#licensing */
 .debt.short .type a.new { background-image: url('../images/icons/star16.png') }
 .debt.short .type a.calculated { background-image: url('../images/icons/gear16.png') }
 .debt.short .info { width: 320px }
 .debt.short .controls {
   width: 120px;
   text-align: right;
 }
.sidebar {
  margin: 50px 20px;
  width: 200px;
  float: left;
}
 .sidebar .info { padding: 15px }
 .sidebar .button { margin-bottom: 15px; }
.amount {
  font-size: 1.2em;
  font-weight: bold;
}
.amount.minus { color: #CC0000 }
.amount.plus { color: #159D00 }
.footer {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: .85em;
  padding-top: .9em;
  padding-bottom: .9em;
  color: #777;
}
 .footer a { color: #777 }
 .footer a:hover {
   background: none;
   color: #CCC;
 }
 .footer .nav,
 .footer .version_info {
   display: inline-block;
   width: auto;
 }
 .footer .nav {
   float: left;
 }
 .footer .version_info {
   color: #CCC;
   background-color: #4D4D4D;
   float: right;
   padding: 0 10px;
   text-align: right;
 }
