<h3><%= t "views.contacts.sidebar.header" %></h3>
<ul>
  <li>
    <%= link_to raw("<span class='count'>#{current_user.contacts.count}</span> #{t("views.contacts.sidebar.links.total")}"),
                    contacts_path,
                    :class => "counter" %>
  </li>
  <li>
    <%= link_to raw("<span class='count'>#{current_user.contacts.linked.count}</span> #{t("views.contacts.sidebar.links.linked")}"),
                    contacts_path(:status => "linked"),
                    :class => "counter" %>
  </li>
  <li>
    <%= link_to raw("<span class='count'>#{current_user.contacts.unlinked.count}</span> #{t("views.contacts.sidebar.links.unlinked")}"),
                    contacts_path(:status => "unlinked"),
                    :class => "counter" %>
  </li>
</ul>
