<section class="part">
  <header class="head">
    <h1>Edit contact</h1>
  </header>
  <section>
    <%= render :partial => 'form', :locals => { :contact => @contact } %>
  </section>
</section>

<% content_for :aside do -%>
  <div>
    <span class="button first last">
      <%= link_to "Create new contact", new_contact_path %>
    </span>
  </div>
  <div>
    <span class="button first last">
      <%= link_to "See all contacts", contacts_path %>
    </span>
  </div>
<% end -%>
