<% content_for :subnavigation do -%>
  <div class="elevencol last">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path) %>
  </div>
<% end -%>

<section class="container">
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <header>
        <h1><%= t "views.contacts.new.header" %></h1>
      </header>
      <section>
        <%= render :partial => 'form', :locals => { :contact => @contact } %>
      </section>
    </div>
  </div>
</section>
