<% if flash[:alert] -%>
  <div class="row">
    <div class="threecol">
      &nbsp;
    </div>
    <div class="sixcol last alert">
      <%= flash[:alert] %>
    </div>
    <div class="threecol last">
      &nbsp;
    </div>
  </div>
<% end -%>
