<footer class="footer container">
  <div class="row">
    <nav class="nav eightcol">
      <ul>
        <li><a href="#">License</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="fourcol last">
      <div class="version_info">
        <p><%= "Code name: #{DebtPursuit::Version::CODE_NAME}. Version: #{DebtPursuit::Version::NUMBER}" %></p>
      </div>
    </div>
  </div>
</footer>
