<footer class="footer">
  <nav class="nav grid_8">
    <ul>
      <li><%= link_to t("app.footer.license"), license_path %></li>
      <li><%= link_to t("app.footer.about"), about_path %></li>
    </ul>
  </nav>
  <div class="grid_4">
    <div class="version_info">
      <p><%= "#{t("app.footer.code_name")}: #{DebtPursuit::Version::CODE_NAME}. #{t("app.footer.version")}: #{DebtPursuit::Version::NUMBER}" %></p>
    </div>
  </div>
</footer>
