<header class="header container">
  <div class="row">
    <div class="threecol logo">
      <h1>Debt<span class="light">Pursuit</span></h1>
    </div>
    <div class="ninecol last">
      <%= navigation :home, :budgets, :contacts %>
    </div>
  </div>
</header>
