<nav class="nav grid_12 user_info">
  <ul>
    <li>
      <%= current_user.full_name %>
    </li>
    <li>
      <%= link_to t("app.user_info.settings"), edit_user_registration_path %>
    </li>
    <li>
      <%= link_to t("app.user_info.logout"), destroy_user_session_path, :class => "logout" %>
    </li>
  </ul>
</nav>
<%= render "shared/clear" %>
