<div class="container user_info">
  <div class="row">
    <nav class="nav twelvecol last">
      <ul>
        <li>
          <%= current_user.full_name %>
        </li>
        <li>
          <%= link_to t("app.user_info.settings"), edit_user_registration_path %>
        </li>
        <li>
          <%= link_to t("app.user_info.logout"), destroy_user_session_path, :class => "logout" %>
        </li>
      </ul>
    </nav>
  </div>
</div>
